[project]
	description = Ncryptd service to encode your php applications for free, is your next professional tool to obfuscate scrambles classes, functions, variables, binary blowfish encription, is the simplest, fastest and strongest solution
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/codex-corp
[access "refs/for/refs/*"]
	read = group user/codex-corp
	push = group user/codex-corp
	label-Code-Review = -2..+2 group user/codex-corp
	label-Verified = -1..+1 group user/codex-corp
	rebase = group user/codex-corp
	removeReviewer = group user/codex-corp
	submit = group user/codex-corp
[access "refs/heads/*"]
	read = group user/codex-corp
	create = group user/codex-corp
	push = +force group user/codex-corp
	pushMerge = group user/codex-corp
[access "refs/tags/*"]
	push = +force group user/codex-corp
	pushTag = group user/codex-corp
	pushSignedTag = group user/codex-corp
