Options -Indexes
Options -ExecCGI
AddHandler cgi-script .php .php3 .php4 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi

<IfModule php5_module>
php_flag engine off
</IfModule>

<IfModule mod_php5.c>
php_flag engine off
</IfModule>

<FilesMatch "(?i)\.(php|php3?|phtml)$">
    Order Deny,Allow
    Deny from All
    AddType text/plain php
</FilesMatch>
